.ast_header_bottom {
  float: left;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  margin-top: 51px;
  z-index: 10;
}
.ast_header_bottom.style_2 {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 21px;
  padding: 0px 50px;
}
.ast_logo {
  float: left;
  width: 100%;
  padding: 16px 0px;
}
.ast_menu {
  float: left;
  width: 100%;
  position: relative;
}
.ast_menu ul {
  float: right;
  width: auto;
  margin: 0;
  padding: 0;
}
.ast_menu ul li {
  list-style: none;
  float: left;
  margin-right: 0px;
  position: relative;
  /*-webkit-transition: all 0.5s;*/
  /*   -moz-transition: all 0.5s;*/
  /*   -ms-transition: all 0.5s;*/
  /*   -o-transition: all 0.5s;*/
  /*   transition: all 0.5s;*/
}
.ast_menu ul li:last-child {
  margin-right: 0px;
}
.ast_menu ul li a {
  display: block;
  text-transform: capitalize;
  color: #ffffff;
  padding: 38px 15px 38px 15px;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transform-origin: top;
}
.ast_menu ul li a:after {
  content: "";
  position: absolute;
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #fecc03;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.ast_menu ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  background-color: #fecc03;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.ast_menu ul li a.active {
  background-color: #fecc03;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.dropdown-toggle::after {
  border: none;
}

.ast_menu ul li ul.submenu li {
  float: left;
  width: 100%;
}
.ast_menu ul li ul.submenu li a {
  padding: 10px 10px;
  width: 100%;
  border-top: 0px;
  border-bottom: 1px solid #555555;
  color: #ffffff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.ast_menu ul li ul.submenu li a:hover {
  border-top: 0px;
  background-color: #fecc03;
  color: #ffffff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.ast_menu ul li ul.submenu li ul.submenu {
  top: 0px;
  left: auto;
  right: 100%;
  width: fit-content;
}

.ast_menu_btn {
  display: none;
}
.menu_fixed {
  position: fixed;
  z-index: 1000;
  padding: 0px 0px;
  -moz-box-shadow: 0px -5px 20px;
  -webkit-box-shadow: 0px -5px 20px;
  box-shadow: 0px -5px 20px;
}
.menu_fixed.ast_header_bottom {
  margin-top: 0px;
  background-color: rgba(0, 0, 0, 0.7);
}
.ast_slider {
  float: left;
  width: 100%;
}
.menu_fixed .ast_menu ul li ul.submenu {
  background-color: #333333;
  z-index: 10;
  -webkit-box-shadow: 0px 4px 22px -7px #000000;
  -moz-box-shadow: 0px 4px 22px -7px #000000;
  -o-box-shadow: 0px 4px 22px -7px #000000;
  -ms-box-shadow: 0px 4px 22px -7px #000000;
  box-shadow: 0px 4px 22px -7px #000000;
}
.menu_fixed .ast_menu ul li ul.submenu li ul.submenu {
  background-color: #333333;
  z-index: 10;
  -webkit-box-shadow: 0px 4px 22px -7px #000000;
  -moz-box-shadow: 0px 4px 22px -7px #000000;
  -o-box-shadow: 0px 4px 22px -7px #000000;
  -ms-box-shadow: 0px 4px 22px -7px #000000;
  box-shadow: 0px 4px 22px -7px #000000;
}
